src/__pycache__/aws_helper.cpython-39.pyc
src/__pycache__/hpo_vectorization.cpython-39.pyc
src/__pycache__/hpomapper_main.cpython-39.pyc
data/randome_asd_notes_cleaned4.csv
data/
data/notes/
data/notes/.DS_Store
data/notes/extracted_notes_ind_mrn/.DS_Store
data/notes/extracted_notes_ind_mrn/M672065/M672065_1X_OP_Gastrointestinal_Note_352.txt
data/notes/extracted_notes_ind_mrn/M672065/M672065_1X_OP_Neurology_Note_864.txt
data/notes/extracted_notes_ind_mrn/M672065/M672065_1X_OP_Ophthalmology_Note_827.txt
data/notes/extracted_notes_ind_mrn/M672065/M672065_1X_OP_Otolaryngology_ENT_Note_215.txt
data/notes/extracted_notes_ind_mrn/M672065/notes_HPO.csv
data/notes/extracted_notes_ind_mrn/M680104/M680104_1X_OP_Endocrine_Note_940.txt
data/notes/extracted_notes_ind_mrn/M680104/M680104_1X_OP_Gastrointestinal_Note_896.txt
data/notes/extracted_notes_ind_mrn/M680104/M680104_1X_OP_Institute_for_the_Developing_Mind_Note_124.txt
data/notes/extracted_notes_ind_mrn/M680104/M680104_1X_OP_Institute_for_the_Developing_Mind_Note_666.txt
data/notes/extracted_notes_ind_mrn/M680104/M680104_1X_OP_Institute_for_the_Developing_Mind_Note_687.txt
data/notes/extracted_notes_ind_mrn/M680104/M680104_1X_OP_Neurology_-_Encino_Note_431.txt
data/notes/extracted_notes_ind_mrn/M680104/M680104_1X_OP_Neurology_Note_611.txt
data/notes/extracted_notes_ind_mrn/M680104/M680104_1X_OP_Pulmonary_Note_519.txt
data/notes/extracted_notes_ind_mrn/M680104/notes_HPO.csv
data/notes/extracted_notes_ind_mrn/M694314/M694314_1X_OP_Allergy_Note_798.txt
data/notes/extracted_notes_ind_mrn/M694314/notes_HPO.csv
data/notes/extracted_notes_ind_mrn/M713193/M713193_1X_OP_Arcadia_Clinic_Note_799.txt
data/notes/extracted_notes_ind_mrn/M713193/M713193_1X_OP_Endocrine_Note_939.txt
data/notes/extracted_notes_ind_mrn/M713193/M713193_1X_OP_Gastrointestinal_Note_586.txt
data/notes/extracted_notes_ind_mrn/M713193/M713193_1X_OP_Medical_Genetics_Note_335.txt
data/notes/extracted_notes_ind_mrn/M713193/M713193_1X_OP_Neurology_Note_677.txt
data/notes/extracted_notes_ind_mrn/M713193/M713193_1X_OP_Ophthalmology_Note_961.txt
data/notes/extracted_notes_ind_mrn/M713193/M713193_1X_OP_Pulmonary_Note_158.txt
data/notes/extracted_notes_ind_mrn/M713193/M713193_Emergency_Emergency_Department_Note_413.txt
data/notes/extracted_notes_ind_mrn/M713193/M713193_Inpatient_Inpatient_Medical_Service_Note_209.txt
data/notes/extracted_notes_ind_mrn/M713193/M713193_Inpatient_Inpatient_Medical_Service_Note_294.txt
data/notes/extracted_notes_ind_mrn/M713193/M713193_Inpatient_Inpatient_Medical_Service_Note_389.txt
data/notes/extracted_notes_ind_mrn/M713193/M713193_Inpatient_Inpatient_Medical_Service_Note_459.txt
data/notes/extracted_notes_ind_mrn/M713193/M713193_Inpatient_Inpatient_Medical_Service_Note_470.txt
data/notes/extracted_notes_ind_mrn/M713193/M713193_Inpatient_Inpatient_Medical_Service_Note_599.txt
data/notes/extracted_notes_ind_mrn/M713193/M713193_Inpatient_Inpatient_Medical_Service_Note_730.txt
data/notes/extracted_notes_ind_mrn/M713193/M713193_Inpatient_Inpatient_Medical_Service_Note_834.txt
data/notes/extracted_notes_ind_mrn/M713193/M713193_Inpatient_Inpatient_Medical_Service_Note_977.txt
data/notes/extracted_notes_ind_mrn/M713193/M713193_OP_Surg_PAS_Pediatrics_Amb_Sur_Note_744.txt
data/notes/extracted_notes_ind_mrn/M713193/M713193_Series_Calendar_Month_Endocrine_Note_842.txt
data/notes/extracted_notes_ind_mrn/M713193/M713193_Series_Calendar_Month_Hematology_Oncology_Note_958.txt
data/notes/extracted_notes_ind_mrn/M713193/notes_HPO.csv
data/notes/extracted_notes_ind_mrn/M726349/M726349_1X_OP_Adolescent_Medicine_Note_937.txt
data/notes/extracted_notes_ind_mrn/M726349/M726349_1X_OP_Endocrine_Note_172.txt
data/notes/extracted_notes_ind_mrn/M726349/M726349_1X_OP_Endocrine_Note_871.txt
data/notes/extracted_notes_ind_mrn/M726349/M726349_1X_OP_Immunology_Note_287.txt
data/notes/extracted_notes_ind_mrn/M726349/M726349_1X_OP_Institute_for_the_Developing_Mind_Note_39.txt
data/notes/extracted_notes_ind_mrn/M726349/M726349_1X_OP_Institute_for_the_Developing_Mind_Note_420.txt
data/notes/extracted_notes_ind_mrn/M726349/M726349_1X_OP_Neurology_Note_607.txt
data/notes/extracted_notes_ind_mrn/M726349/notes_HPO.csv
data/notes/extracted_notes_ind_mrn/M792096/clinical_summary_combined.txt
data/notes/extracted_notes_ind_mrn/M792096/M792096_1X_OP_Neurology_-_Encino_Note_718.txt
data/notes/extracted_notes_ind_mrn/M792096/M792096_1X_OP_Neurology_Note_165.txt
data/notes/extracted_notes_ind_mrn/M792096/M792096_1X_OP_Ophthalmology_Note_17.txt
data/notes/extracted_notes_ind_mrn/M821205/M821205_1X_OP_Gastrointestinal_Note_465.txt
data/notes/extracted_notes_ind_mrn/M821205/M821205_1X_OP_Institute_for_the_Developing_Mind_Note_97.txt
data/notes/extracted_notes_ind_mrn/M821205/M821205_1X_OP_Neurology_Note_81.txt
data/notes/extracted_notes_ind_mrn/M821205/M821205_1X_OP_Pulmonary_Note_237.txt
data/notes/extracted_notes_ind_mrn/M821205/M821205_1X_OP_Santa_Monica_Clinic_Note_821.txt
data/notes/extracted_notes_ind_mrn/M821205/M821205_1X_OP_Valencia_Care_Center_Note_183.txt
data/notes/extracted_notes_ind_mrn/M821205/notes_HPO.csv
data/notes/extracted_notes_ind_mrn/M823690/M823690_1X_OP_Gastrointestinal_Note_784.txt
data/notes/extracted_notes_ind_mrn/M823690/notes_HPO.csv
data/notes/extracted_notes_ind_mrn/M832792/M832792_1X_OP_Arcadia_Clinic_Note_338.txt
data/notes/extracted_notes_ind_mrn/M832792/M832792_1X_OP_Arcadia_Clinic_Note_832.txt
data/notes/extracted_notes_ind_mrn/M832792/M832792_1X_OP_Endocrine_Note_941.txt
data/notes/extracted_notes_ind_mrn/M832792/M832792_1X_OP_Endocrine_Note_994.txt
data/notes/extracted_notes_ind_mrn/M832792/M832792_1X_OP_Infusion_Center_Note_888.txt
data/notes/extracted_notes_ind_mrn/M832792/M832792_1X_OP_Institute_for_the_Developing_Mind_Note_637.txt
data/notes/extracted_notes_ind_mrn/M832792/M832792_1X_OP_Institute_for_the_Developing_Mind_Note_711.txt
data/notes/extracted_notes_ind_mrn/M832792/M832792_1X_OP_Neurology_Note_772.txt
data/notes/extracted_notes_ind_mrn/M832792/M832792_1X_OP_Neurology_Note_850.txt
data/notes/extracted_notes_ind_mrn/M832792/M832792_1X_OP_Neurology_Note_868.txt
data/notes/extracted_notes_ind_mrn/M832792/M832792_1X_OP_Neurology_Note_921.txt
data/notes/extracted_notes_ind_mrn/M832792/M832792_1X_OP_Ophthalmology_Note_670.txt
data/notes/extracted_notes_ind_mrn/M832792/M832792_1X_OP_Ophthalmology_Note_752.txt
data/notes/extracted_notes_ind_mrn/M832792/M832792_1X_OP_Pulmonary_Note_233.txt
data/notes/extracted_notes_ind_mrn/M832792/M832792_1X_OP_Pulmonary_Note_768.txt
data/notes/extracted_notes_ind_mrn/M832792/M832792_1X_OP_Pulmonary_Note_820.txt
data/notes/extracted_notes_ind_mrn/M832792/notes_HPO.csv
data/notes/extracted_notes_ind_mrn/M851584/M851584_1X_OP_Colorectal_Clinic_Note_901.txt
data/notes/extracted_notes_ind_mrn/M851584/M851584_1X_OP_Empower_Weight_Management_Note_826.txt
data/notes/extracted_notes_ind_mrn/M851584/M851584_1X_OP_Endocrine_Note_22.txt
data/notes/extracted_notes_ind_mrn/M851584/M851584_1X_OP_Endocrine_Note_412.txt
data/notes/extracted_notes_ind_mrn/M851584/M851584_1X_OP_Hematology_Oncology_Note_155.txt
data/notes/extracted_notes_ind_mrn/M851584/M851584_1X_OP_Institute_for_the_Developing_Mind_Note_651.txt
data/notes/extracted_notes_ind_mrn/M851584/M851584_1X_OP_Medical_Genetics_Note_153.txt
data/notes/extracted_notes_ind_mrn/M851584/M851584_1X_OP_Neurology_Note_2.txt
data/notes/extracted_notes_ind_mrn/M851584/M851584_1X_OP_Neurology_Note_348.txt
data/notes/extracted_notes_ind_mrn/M851584/M851584_1X_OP_Neurology_Note_463.txt
data/notes/extracted_notes_ind_mrn/M851584/M851584_1X_OP_Neurology_Note_594.txt
data/notes/extracted_notes_ind_mrn/M851584/M851584_1X_OP_Neurology_Note_694.txt
data/notes/extracted_notes_ind_mrn/M851584/M851584_1X_OP_Neurology_Note_717.txt
data/notes/extracted_notes_ind_mrn/M851584/M851584_1X_OP_Neurology_Note_797.txt
data/notes/extracted_notes_ind_mrn/M851584/M851584_1X_OP_Orthopedics_Note_182.txt
data/notes/extracted_notes_ind_mrn/M851584/M851584_1X_OP_Pulmonary_Note_106.txt
data/notes/extracted_notes_ind_mrn/M851584/M851584_1X_OP_Pulmonary_Note_430.txt
data/notes/extracted_notes_ind_mrn/M851584/notes_HPO.csv
data/notes/extracted_notes_ind_mrn/M887800/M887800_1X_OP_Endocrine_Note_266.txt
data/notes/extracted_notes_ind_mrn/M887800/M887800_1X_OP_Endocrine_Note_328.txt
data/notes/extracted_notes_ind_mrn/M887800/M887800_1X_OP_Gastrointestinal_Note_893.txt
data/notes/extracted_notes_ind_mrn/M887800/M887800_1X_OP_Hematology_Oncology_Note_28.txt
data/notes/extracted_notes_ind_mrn/M887800/M887800_1X_OP_Institute_for_the_Developing_Mind_Note_295.txt
data/notes/extracted_notes_ind_mrn/M887800/M887800_1X_OP_Institute_for_the_Developing_Mind_Note_698.txt
data/notes/extracted_notes_ind_mrn/M887800/M887800_1X_OP_Neurology_-_Encino_Note_3.txt
data/notes/extracted_notes_ind_mrn/M887800/M887800_1X_OP_Neurology_Note_57.txt
data/notes/extracted_notes_ind_mrn/M887800/M887800_1X_OP_Neurology_Note_792.txt
data/notes/extracted_notes_ind_mrn/M887800/M887800_1X_OP_Neurology_Note_881.txt
data/notes/extracted_notes_ind_mrn/M887800/M887800_1X_OP_Ophthalmology_Note_64.txt
data/notes/extracted_notes_ind_mrn/M887800/M887800_1X_OP_Pulmonary_Note_922.txt
data/notes/extracted_notes_ind_mrn/M887800/notes_HPO.csv
src/hpomapper_results.csv
src/aws_sso_login.sh
src/hpo_vectorization.log
config/hpomapper_config.yaml
src/hpomapper.log
db/hp.json
db/G2GHPO_metadata_10k.csv
db/G2GHPO_metadata_10k.npy
